# OS junk
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Builds / dependencies
dist/
node_modules/

# Test and compiler artifacts
coverage/
playwright-report/
test-results/
*.tsbuildinfo
